@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(85.66deg, #3847b5 62.24%, #253194 118.32%);
  height: 1500px;
  font-family: 'Sen', sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header {
  width: 100%;
  height: 70px;
  background: white;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  font-family: 'Sen', sans-serif;
  align-items: center;
}

.logo {
  display: flex;
  vertical-align: middle;
  width: 200px;
  margin: 20px 10px;
}

.main-nav {
  display: flex;
  text-align: right;
  width: 100%;
  vertical-align: middle;
}

.main-nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
}

.main-nav__item a {
  color: #1c2085;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  box-shadow: 0 3px 0 #5454d4;
}

main {
  position: absolute;
  top: 90px;
  padding: 15px;
  z-index: 5;
  color: white;
}

#main_description {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
}

#main_subscribe__info {
  position: relative;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.arrow_down {
  display:inline-block;
  vertical-align:middle;
}
